nav ul {
    list-style-type: none;
    font-size: 350%;
    position: absolute;
    top: 5%;
    left: 0%;
}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-decoration: none;
    color: rgb(255, 200, 255);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black
}

.contact {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-style: oblique;
    position: absolute;
    top: 30%;
    left: 35%;
    color:rgb(255, 200, 255);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black
}

.contact p {
    color:rgb(255, 200, 255);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black
}
